{% extends 'base.html.twig' %}

{% block title %}Invoices{% endblock %}

{% block body %}
    <a href="{{ path('invoice_new') }}" class="btn btn-primary">Create new invoice</a>
    <br /><br />

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Status</th>
            <th>Label</th>
            <th>Millisatoshi</th>
            <th>Bolt11</th>
            <th>Payment Hash</th>
            <th>Expires</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in rpc.listInvoices %}
            <tr>
                <td>
                    <span style="font-weight: bold; color:
                            {% if invoice.status == 'unpaid' %}
                                red
                            {% elseif invoice.status == 'paid' %}
                                green
                            {% else %}
                                gray
                            {% endif %}
                            ">
                    {{ invoice.status  }}
                    </span>
                </td>
                <td>
                    {{ invoice.label }}
                </td>
                <td>
                    {{ invoice.msatoshi|number_format }}
                </td>
                <td>
                    <a href="#" style="color: black;" data-bolt="{{ invoice.bolt11 }}" class="bolt">{% include 'invoice/qr.svg.twig' %} show</a>
                </td>
                <td>
                    <abbr title="{{ invoice.paymentHash }}">{{ invoice.paymentHash|truncate(10) }}</abbr>
                </td>
                <td>
                    <abbr title="{{ invoice.expiresAt|date('Y-m-d H:i:s') }}">{{ invoice.expiresAt|time_diff }}</abbr>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">
                    <em>No invoice created yet</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="https://chart.googleapis.com/chart?chs=465x465&cht=qr&chl=&choe=UTF-8" id="bolt-qr" />
                    <textarea id="bolt-text" readonly="readonly" class="form-control" style="height: 8em;" onclick="this.select()"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script>
$('.bolt').on('click', function(t) {
    var bolt = $(this).attr('data-bolt');
    $('#bolt-qr').attr('src', 'https://chart.googleapis.com/chart?chs=465x465&cht=qr&chl=' + bolt + '&choe=UTF-8');
    $('#bolt-text').html(bolt);
    $('#modal').modal('show')
});
</script>
{% endblock %}
