<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <style>
            header { background-color: #17a2b8; color: white; margin-bottom: 1em;}
            label.required:after { content: " *"; color: red;}
            label { color: #555; }
            label.required { font-weight: bold; color: black; }
            .sidebar ul li { list-style: none; }
            .sidebar a { color: black; }
            h1 { font-size: 2rem; margin-bottom: 1rem; }
            h2 { font-size: 1.5rem; }
        </style>
    </head>
    <body>
        <header class="navbar ">
            ⚡ C-Lightning Admin
            {% if is_granted('ROLE_USER') %}
                <span style="float: right;"><a style="color: white;" href="{{ path('logout') }}">Logout</a></span>
            {% endif %}
        </header>

        <div class="container-fluid">
            <div class="row">
                {% block superbody %}
                <div class="sidebar col-md-2">
                    <br />
                    <ul>
                        <li><a href="{{ path('payment_new') }}" >&rarr; Pay</a></li>
                        <li><a href="{{ path('invoice_new') }}" >&larr; Receive</a></li>
                    </ul>
                    <br />
                    <ul>
                        <li><a href="{{ path('funds') }}" >Funds</a></li>
                        <li><a href="{{ path('peer') }}" >Peers</a></li>
                        <li><a href="{{ path('channel') }}" >Channels</a></li>
                        <li><a href="{{ path('invoice') }}" >Invoices</a></li>
                    </ul>
                    <br />
                    <ul>
                        <li><a href="{{ path('info') }}" >Node info</a></li>
                    </ul>

                    <hr />

                    <ul>
                        <li><a href="{{ path('bitcoind') }}">Bitcoind</a></li>
                    </ul>
                </div>
                <div class="content col-md-9">

                    <h1>{{ block('title') }}</h1>

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
