{% extends 'base.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}

    <a href="{{ path('payment_new') }}" class="btn btn-info">Send new payment</a>
    <br /><br />

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Amount (msatoshi)</th>
            <th>Destination</th>
            <th>Status</th>
            <th>Fee</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for payment in rpc.listpayments %}
        <tr>
            <td>{{ payment.msatoshi|number_format }}</td>
            <td><abbr title="{{ payment.destination }}">{{ payment.destination|truncate(15) }}</abbr></td>
            <td>{{ payment.status }}</td>
            <td>{{ (payment.msatoshiSent - payment.msatoshi)|number_format }}</td>
            <td><abbr title="{{ payment.createdAt|date('Y-m-d H:i:s') }}">{{ payment.createdAt|time_diff }}</abbr></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
