{% extends 'base.html.twig' %}

{% block title %}Connected peers{% endblock %}

{% block body %}
<script>
    function toggledisplay(elementID)
    {
        (function(style) {
            style.display = style.display === 'none' ? '' : 'none';
        })(document.getElementById(elementID).style);
    }
</script>

<a href="{{ path('connect') }}" class="btn btn-primary">Connect to node</a>
<br /><br />

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Connected</th>
            <th>ID</th>
            <th>Alias</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for peer in rpc.listPeers %}
            <tr>

                <td>
                    {{ peer.connected ? '✔' : '✕' }}
                </td>
                <td>
                    <abbr title="{{ peer.id }}">{{ peer.id|truncate(15) }}</abbr>
                </td>
                <th><span style="color: #{{ peer.color }}">{{ peer.alias }}</span></th>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('fund', {id: peer.id}) }}">Fund channel</a>

                    {% if peer.channels %}
                    <a class="btn btn-light btn-sm" href="#" onclick="toggledisplay('{{ peer.id }}-details');">Channel details</a>
                    {% endif %}
                </td>
            </tr>
            {% if peer.channels %}
            <tr id="{{ peer.id }}-details" style="display: none;">
                <td colspan="3">
                    <pre>{{ peer.channels|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="11">
                    <em>No channel created yet</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
